.technologies {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 190px;
  margin-bottom: 20vh;
  gap: 80px;
  color: white;
}

.technologies__title {
  font-size: clamp(2rem, 6vw, var(--size-title));
}

.technologies__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 1180px) {
  .technologies {
    margin-bottom: 10vh;
    padding: 60px 150px;
  }
}

@media (max-width: 900px) {
  .technologies {
    padding: 60px 100px;
    margin-bottom: 8vh;
  }

  .technologies__list {
    gap: 50px;
  }
}

@media (max-width: 480px) {
  .technologies {
    padding: 100px 80px;
    margin-bottom: 6vh;
  }
}
