.technologies {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 190px;
  margin-bottom: 20vh;
  gap: 80px;
  color: white;
  /* border: 1px solid red; */
}

/* .technologies > * {
  border: 1px solid white;
} */

.technologies__title {
  font-size: var(--size-title);
}

.technologies__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
