.navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 0 60px;
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  font-size: 0.9rem;
  z-index: 10;
}

.navbar__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
}

.navbar__li {
  margin-top: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: border-bottom 0.5s ease-in-out;
}

.navbar__li:hover:not(.navbar__li--logo, .navbar__li--options) {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.navbar__li a {
  color: white;
  width: 100%;
}

.navbar__li--logo {
  margin-right: auto;
}

.navbar__li--options {
  display: none;
}

.navbar__options-button {
  display: flex;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
}

@media (max-width: 920px) {
  .navbar__li:not(.navbar__li--logo, .navbar__li--options) {
    display: none;
  }

  .navbar__li--options {
    display: block;
  }
}
