.navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 0 60px;
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
  font-size: 0.9rem;
  z-index: 10;
}

.navbar__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
}

.navbar__li--logo a {
  display: flex;
}

.navbar__li--logo a img {
  height: 50px;
}

.navbar__li {
  transition: scale 0.3s ease-in-out;
}

.navbar__li:hover:not(.navbar__li--logo, .navbar__li--options) {
  scale: 1.1;
}

.navbar__li a {
  color: white;
  width: 100%;
  text-shadow: 0 0 10px #01d8fe;
}

.navbar__li--logo {
  margin-right: auto;
}

.navbar__li--options {
  display: none;
}

.navbar__options-button {
  display: flex;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
}

@media (max-width: 920px) {
  .navbar__li:not(.navbar__li--logo, .navbar__li--options) {
    display: none;
  }

  .navbar__li--options {
    display: block;
  }
}
