.navbar {
  width: 100%;
}

.navbar__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
}

.navbar__li {
  transition: scale 0.3s ease-in-out;
}

.navbar__li:hover {
  scale: 1.1;
}

.navbar__li a {
  color: white;
  width: 100%;
  text-shadow: 0 0 10px #01d8fe;
}

.navbar__list--mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.navbar__li--mobile {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  cursor: pointer;
  transition: scale 0.3s ease-in-out;
}

.navbar__li--mobile:hover {
  scale: 1.03;
}

.navbar__li--mobile a {
  font-size: 1rem;
  color: white;
  text-shadow: 0 0 10px #01d8fe;
}

@media (max-width: 920px) {
  .navbar__li:not(.navbar__li--options) {
    display: none;
  }
}
