.projects {
  width: 100%;
  min-height: 100vh;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: white;
  padding: 60px 120px; /*60px 120px*/
}

.projects__title {
  /* font-size: var(--size-title); */
  font-size: clamp(2rem, 6vw, var(--size-title));
}

.projects__list {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

@media (max-width: 680px) {
  .projects {
    padding: 60px;
  }
}
