.projects {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: white;
  padding: 60px 100px;
}

.projects__title {
  font-size: clamp(2rem, 6vw, var(--size-title));
}

.projects__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

@media (max-width: 680px) {
  .projects {
    padding: 60px;
  }
}
