:root {
  --font-poppins: "Poppins", sans-serif;
  --color-react: #01d8fe;
  --color-html: #fc490b;
  --color-css: #006bc0;
  --color-js: #f7df1e;
  --color-linkedin: #006699;
  --size-title: 2.5rem;
  --navbar-height: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
